<div class="flex justify-between items-center">
  <h1 class="font-bold text-4xl">
    <%= render_page_title(@category) %>
  </h1>
  <%= link_to "Shto Lende", new_lawsuit_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
</div>

<%= render 'lawsuits/lawsuits_table', lawsuits: @lawsuits %>

